.results-page {
  text-align: center;
  margin: 20px;
}

/* Style the year selection dropdown */
.year-dropdown {
  margin-bottom: 20px;
}

.year-dropdown select {
width: 100px; /* Adjust the width to your preference */
padding: 5px;
font-size: 14px;
border: 1px solid #ccc;
border-radius: 4px;
background-color: #fff;
color: #333;
display: inline-block; /* Display the select as inline-block */
}

.year-dropdown label {
  font-weight: bold;
  color: #666;
  display: inline-block; /* Display the label as inline-block */
  margin-right: 10px; /* Add margin to separate label and select */
}

/* Style the Round Standings title */
.round-standings h3 {
  color: #333;
  font-size: 24px; /* Adjust the font size to your preference */
  margin-bottom: 10px;
}

/* Style the Round Date and Circuit information */
.round-standings .round h4 {
  font-size: 18px; /* Adjust the font size to your preference */
  color: #666;
}

.round-standings .round p {
  font-size: 16px; /* Adjust the font size to your preference */
  color: #999;
  margin-bottom: 15px;
}


/* Style the driver results table */
.driver-results-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.driver-results-table th, .driver-results-table td {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.driver-results-table th {
  background-color: #333;
  color: white;
}

/* Custom styles for the first three positions */
.first-position {
  background-color: #f6e586; /* Highlight winner in gold */
  color: #333;
}

.second-position {
  background-color: #c0c0c0; /* Silver for the second position */
  color: #333;
}

.third-position {
  background-color: #e0af7f; /* Bronze for the third position */
  color: #333;
}

/* Style alternating rows */
.driver-row:nth-child(even) {
  background-color: #f9f9f9;
}

/* Highlight the winner */
.driver-row.winner {
  background-color: #ffd700;
  color: #333;
}

/* Style the page title */
h2 {
  color: #333;
}

/* Style the year selection dropdown label */
label {
  font-weight: bold;
  color: #666;
}




